html, body, #overlay {
  width: 100%;
  height: 100%;
}

.my-div-icon {
  background: white;
  z-index: -1;
  white-space: nowrap;
  width: auto !important;
  height: auto !important;
  border: none;
}

#map {
  width: 100%;
  height: 50%;
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  /* margin-left: 20%; */
}

#circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-top: 8px;
  display: inline-block;
}

.legend-text {
  margin-left:5px;
  margin-bottom:3px;
}

#header, #footer {
    position:relative;
}

#header h1{
    position:absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    font-weight: 900;
    font-size: 275%;
    
}

@media screen and (max-width: 1024px) {
    #header h1 {
    position:absolute;
    top: 20%;
    left: 0%;
    z-index: 1;
    font-weight: 900;
    font-size: 200%;
    }
}

#header p{
    position:absolute;
    top: 90%;
    left: 85%;
    z-index: 1;
    font-size: 100%;
    font-weight: bold;    
}

@media screen and (max-width: 1024px) {
    #header p{
    position:absolute;
    top: 90%;
    left: 80%;
    z-index: 1;
    font-size: 75%;
    font-weight: bold;
    }
}

#header img{
    position:relative;
}

/* CHANGES MADE 05/09/15 */

h1 {
  font-weight: 900;
}

.social-btn {
  margin-left: 0.5em;
}

.circle-number {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 1px 7px;
  border: 2px solid black;
  text-align: center;
  color: black;
  margin-right: 0.5em;
  font-size: 17px;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

#origin {
  width: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
}

#walk-limit {
  width: 30%;
  position: inline-block;
  float: left;
  margin-right: 5px;
}

.glyphicon {
  padding-right: 0.5em;
}

#legend-container {
  background-color: #F3F3F3;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 2em 0 1em 0;
}

.legend-roundal {
  margin-left: 10px;
  margin-right: 5px;
}

#footer {
  margin-top: 3em;
}

/* END */
