{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>About this Project</h2>
      <p>The London Underground was the first subterreanean railway of its kind. First opened in 1863, it has grown now to some 270 stations. You can find out more in Christian Wolmar's excellent book, <a href="http://www.amazon.co.uk/Subterranean-Railway-Underground-Changed-Forever/dp/0857890697">The Subterranean Railway</a>.</p> 
      <p>The nature of the London Underground means that it is not all obvious that walks between stations can be quite short. You are swallowed into the Underground realm and released at distant portals with no idea how those exits relate to each other.</p>
      <p>This website will tell you whether your intended exit is just a short walk from where you started.</p>
      <p>The underlying data for this tool comes from <a href="http://wiki.openstreetmap.org/wiki/List_of_London_Underground_stations">Open Street Map</a>, where the locations of all the London Underground stations are encoded as latitude and longitude. With this information in hand it is possible to calculate the "crow-flies" distances between stations. Really I want the “walking distance” between stations which I get roughly by multiplying the "crow-flies" distance by a magic number. Ideally to get the walking distance I’d use Google Directions API but unfortunately this has a rate limit of 2500 calls per day and I need to make about 36000 calls to get all the data I need!</p>
      <p>The code is open source and available in this BitBucket repository:</p>
      <p><a href="https://bitbucket.org/ian_hopkinson/london-underground-app">https://bitbucket.org/ian_hopkinson/london-underground-app</a></p>
      <p>Comments and feedback are welcome!</p>
      
      <p><a href="https://twitter.com/intent/tweet?screen_name=IanHopkinson_" class="twitter-mention-button" data-related="IanHopkinson_">Tweet to @IanHopkinson_</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive resize" src="{{ url_for('static', filename='london-underground-screenshot.png') }}" alt="london-underground-map"> 
    </div>
  </div>
</div>
<hr>
{% endblock %}