<html>
  <head>
    <title>The London Underground - Can I walk it?</title>
    <meta property="og:url"           content="http://www.caniwalkit.co.uk/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="The London Underground - Can I walk it?" />
    <meta property="og:description"   content="A tool to help you work out whether to walk between London Underground Stations" />
    <meta property="og:image"         content="http://caniwalkit.co.uk/static/roundel.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='leaflet-0.7.3/leaflet.css')}}">
  </head>
  <body>
      <div class="container">
        <div id="header">
          <img src="{{ url_for('static', filename = 'header-image.png') }}" class="img-responsive" alt="Responsive image"></a>
        </div>
        <!-- NEW ABOUT BLOCK -->
        <div class="row">
          <div id="about-block">
            <div class="col-md-12">
              <h1>The London Underground: Can I walk it?</h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="https://twitter.com/IanHopkinson_" target="_blank">Made by @IanHopkinson_</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-top:13px">
              <li>
                <span class="social-btn"><!-- Twitter -->
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="IanHopkinson_">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </span>
              </li>
              <li>
                <span class="social-btn"> <!-- Facebook -->
                  <div class="fb-like" data-href="http://caniwalkit.co.uk/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </span>
              </li>
              <li>
                <span class="social-btn"><!-- LinkedIn -->
                  <script type="IN/Share" data-url="http://caniwalkit.co.uk" data-counter="right"></script>
                </span>
              </li>
            </ul>
          </div>
            <div class="col-xs-6">
              <div class="pull-right" style="text-align:right">
                
                
                
              </div>
            </div>
          </div>
        </div>
        <hr>
<!-- END ABOUT BLOCK -->
        {% block content %}{% endblock %}
        <div id="footer">
          <img src="{{ url_for('static', filename = 'footer-image.png') }}" class="img-responsive" alt="Responsive image"></a>
        </div>
      </div>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TKZT3X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKZT3X');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook SDK -->
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script src="{{url_for('static', filename='jquery-2.1.4-dist/jquery-2.1.4.min.js')}}"></script>
      <script src="{{url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static', filename='leaflet-0.7.3/leaflet.js')}}"></script>
      <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>