{% extends "base.html" %}
{% block content %}
<!-- NEW FORM BLOCK -->
<div class="row">
  <form class="form-inline">
    
    <div class="col-md-4">
      <h4><span class="circle-number">1</span>My location...</h4>
      <div class="input-group">
        <p class="help-block">Select an Underground station from the menu, on the map or by your current location.</p>
        <select class="form-control" id="origin" name="origin"></select>
        <button class="btn btn-default" onclick="event.preventDefault();getLocation()"><span class="glyphicon glyphicon-map-marker"></span>or find nearest</button>
      </div>
    </div>
    <div class="col-md-4">
      <h4><span class="circle-number">2</span>I will walk...</h4>
      <div class="form-group">
        <p class="help-block">Enter a distance or time to suit your stamina. You can toggle between miles and minutes.</p>
        <input class="form-control" id="walk-limit" type="text" value="1.5">
        <div class="btn-group miles-minutes-toggle" onclick="event.preventDefault();">
          <button class="btn btn-primary miles active">miles</button>
          <button class="btn btn-default minutes">minutes</button>
        </div>
      </div>
    </div> 
    <div class="col-md-4">
      <h4><span class="circle-number">3</span>My results...</h4>
      <div class="form-group">
        <p class="help-block">See your results on <a href="#themap"><strong>the map</strong></a> below, or scroll down for <a href="#thetable"><strong>a table</strong></a> view with links to directions.</p>
        <span id="show-labels">
          <span class="checkbox">
            <label>
              <input type="checkbox" id="showLabels-cb" onclick='showLabels(this);'> Show labels
            </label>
          </span>
        </span>
        <button class="btn btn-default" id="refresh-btn" onclick="event.preventDefault();pressRefresh()">
          <span class="glyphicon glyphicon-refresh"></span>Refresh
        </button>
      </div>
    </div>
  
  </form>
</div>
<!-- END NEW FORM -->
<!-- NEW LEGEND BLOCK -->
<div class="row">
  <div class="col-md-12">
    <a name="themap"></a>
    <div id="legend-container">
      <div><strong>Legend:</strong>
        <img class="legend-roundal" src="{{ url_for('static', filename='roundel-red-sml.png') }}" alt="" /><span id="origin-legend">Starting Station</span>
        <img class="legend-roundal" src="{{ url_for('static', filename='roundel-orange-sml.png') }}" alt="" /><span>Walk it!</span>
        <img class="legend-roundal" src="{{ url_for('static', filename='roundel-textless-sml-grey.png') }}" alt="" /><span>Don't walk, it's miles!</span>
      </div>
    </div>
  </div>
</div>
<!-- END LEGEND BLOCK -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger fade in" id="no-station-error" style="display: none;">
      <strong>Error!</strong> No starting station has been selected.
    </div>
    <div class="alert alert-danger fade in" id="invalid-threshold-error" style="display: none;">
      <strong>Error!</strong> The threshold walking distance is not a number.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <a name="thetable"></a>
    <h3>Distances and directions</h3>
    <table class="table table-bordered table-striped" id="result-table">
       <thead>
          <tr>
            <th>Station</th>
            <th>miles</th>
            <th>minutes</th>
            <th>directions</th>
          </tr>
        </thead>
         <tbody id="result-table-body">
          <tr>
            <td>Euston</td>
            <td>0.0</td>
            <td>0.0</td>
            <td>Show Me</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><small><strong>Disclaimer:</strong> This tool comes with no guarantees, the walking distances are estimated and these estimates may be faulty, particularly for river crossings. Weather conditions may make walking an unpleasant or unwise decision. The tool relies on the user to supply their own reasonable walking threshold. Your mileage may vary.</small></p>
    <p>&copy; Ian Hopkinson 2015</p>
  </div>
</div>
{% endblock %}